




.cursive-text {
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: #5A3921; 
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
